[2014-03-07 17:52] puleos opened #1 "Polyfill Object.keys"

[2014-03-07 17:54] puleos opened #2 "Add option for enumerating keys on prototype chain"
for(key in obj) {
  ...
}

[2014-03-08 13:25] #1 closed, assigned to nobody

[2014-03-08 13:27] puleos opened #3 "Fix IE 6,7 & 8"
Looks like a missing polyfill.

[2014-03-15 15:51] #3 closed, assigned to nobody

[2014-03-20 01:48] twolfson opened #7 "Remove tape as `dependency`"
Currently, `tape` is listed as a `dependency` which causes unnecessary downloads. Testing libraries are usually stored under `devDependencies` (which it looks like you did). Was this a mistake and should I open a PR to remove it?

[2014-03-20 19:32] #7 closed, assigned to nobody

[2014-08-15 14:14] emilbayes opened #9 "Document excludeValues default"
Please document that `excludeValues` is set to `false` by default, so people don't have to go dig in the code :)

[2014-08-28 18:05] #9 closed, assigned to nobody

[2014-09-22 13:03] rfink opened #10 "Objects with recursive references"
Objects with recursive references cause an infinite recursion in the "typeHasher" function, and therefore a "maximum call stack exceeded" error.  To reproduce:

var hasher = require('object-hash');
var a = {};
a.b = 5;
a.c = a;
console.log(hasher(a));

[2014-12-03 00:54] beppu opened #13 "support for Timer objects"
In node.js, setTimeout and setInterval return an object that contains an object of type Timer.  Would it be possible to add support for this in your library?

[code]

[2014-12-16 21:30] #10 closed, assigned to nobody

[2014-12-16 21:30] #2 closed, assigned to nobody

[2015-01-28 01:06] #13 closed

[2015-04-10 11:05] iffsid opened #16 "Use as a key-value store"
Would it be possible to add support to use the hashing as the middle-man for a key-value store?
As I see it, this would mean adding two more methods to `HashTable`, namely `set(key, value)` and `get(key)`, where the `key` is hashed. This would be particularly useful in cases when a key-value store is needed for unwieldy keys (like large `Objects`, `Arrays`, even perhaps `Canvas images`(?), where s

[2015-04-10 12:31] addaleax commented on #16
Maybe it’s worth noting that the naming of `HashTable` is somewhat confusing (at least, it pretty much was for me when I first had a look at this library):
While it is internally using a “real” hash table, it currently implements the API of something which is called `HashSet` (or similar) in other languages and implementations, and there is no `HashMap`-like structure in this library right now (li

[2015-04-11 00:35] iffsid commented on #16
That is true; what's termed `HashTable` is indeed closer in spirit to a `HashSet`.
The question still remains though, if it would be possible (even acceptable) to implement a `HashMap` since most of the plumbing is already present (tantalisingly!) to enable it.

[2015-05-03 01:06] episodeyang opened #17 "How to use this in the browser?"
I included the source in the html, but the object-hash object is not exposed at a global variable.

Do I have to use browserify?

Thanks!

[2015-05-03 01:55] episodeyang commented on #17
LOL I used the
[code]

and imported the generated file. but I still don't see the object hash constructor in the global scope!! Have spent an hour on this already.

[2015-05-03 05:09] episodeyang commented on #17
Hi @addaleax and @puleos
I tried other libraries and this one seems the more reliable object hash implementation. Please advice!

[2015-05-04 07:27] episodeyang opened #18 "Bug with unicode character '\u00A0'"
I run into this funny bug in development today.

If you just do `objectHash('\u00A0')` on node.js and in Chrome, the result is different.

In Chrome, the result is
[code]

However, if you do the same in node.js, the result is different:

[code]

We are using the objectHash function to check agreement between the server copy and the client copy. It is absolutely crucial that the two gives the same

[2015-05-04 10:30] addaleax commented on #18
This is mostly a problem with the fact that this module uses an outdated approach to browserify, i.e. the no longer maintained `gulp-browserify` module. The `crypto` API exposed by version of `crypto-browserify` that comes with `gulp-browserify` is outdated and handles non-ASCII strings in a way different from both current Node.js `crypto` and current `crypto-browserify`.

I think the browser beha

[2015-05-04 15:07] episodeyang commented on #18
Thanks @Addaleax!

Yes the PR will be very much appreciated!! if it is the browser behaviour that is correct, then why does the node.js version make the mistake even though it is not using the browserified code?

I am thinking about adding a crypto in the dependency in the package.json. Do you think that will fix the node.js version?

[2015-05-04 16:27] addaleax commented on #18
You should be able to get the correct (or, at least, consistent) behaviour by pointing to my changes (i.e. use git+https://github.com/addaleax/object-hash.git#hash-encoding as the version string in the package.json until this is fixed in this repository).

The problem here was that the default `binary` encoding for hashes in Node.js tries to map all characters to single bytes, and does not perform

[2015-05-04 16:28] addaleax commented on #18
And btw, you might rather thank @puleos for this library, but it seems he is not too active anymore…

[2015-05-04 16:33] episodeyang commented on #18
Thanks @addaleax (and @puleos for this library!)

I was just about to push a fix to my own fork and you beat me to it:) the #hash-encoding branch fixes the problem!

In terms of the browerify, my app needs the object to be exposed globally after browserify. Would it be okay to add a line in the library that looks like:

[code]
If this is not favorable, I can also just do this on my own fork.

Than

[2015-05-04 16:39] addaleax commented on #18
I would not count too much on a fast response from @puleos to merge this in here (at least the last time I made a PR it was about a month), so maybe for now you are better off merging my hash-encoding branch into your fork and adding your line for global exposure there…

[2015-05-04 16:40] episodeyang commented on #18
Got it! I will do that!

[2015-05-04 19:10] #18 closed

[2015-05-05 21:19] CamiloMM commented on #17
I didn't write this lib so my word certainly isn't final, but I checked and the js file in `/dist` doesn't seem to set *any* global variable, so probably you'd indeed have to use it via browserify, which anyway is super neat and lets you keep libs up-to-date with `npm`.

Still, in that case I'm not sure why there'd be a separate "browser version" of the lib.

[2015-05-05 21:27] CamiloMM commented on #16
Just my 2 cents, but I don't even see why there's a HashSet implementation here, and personally think in an environment like `npm` the Unix philosophy of "do one thing and do it well" should be taken to the (pretty moderate) extreme of "just go and code another module for a HashMap".

I mean, if you `npm install object-hash`, why should it come with a key-value store? Especially from a browserify-

[2015-05-06 21:29] puleos commented on #17
@episodeyang sorry for the delay.  I did not include the standalone option in my build script.  This was an oversight!  I just pushed a new version 3c0c86745e09dd22a6bfa68b590b2f34a1d467b4 of the project with an updated dist.  You will now be able to reference window.objectHash in the browser.

[2015-05-06 21:29] #17 closed

[2015-05-06 21:42] puleos commented on #16
@addaleax I agree that the naming of the hash table is poorly conceived.  This design grew out of a specific use case that I had at the time.  In hindsight it would be been a better idea to keep the implementation of hashTable separate as @CamiloMM suggested.  @iffsid since HashTable is already in the api I would be open to merging in a patch with the signature you suggested.

[2015-05-06 21:42] #16 closed

[2015-05-06 21:46] episodeyang commented on #17
@puleos Thank you!
So now I can just do `gulp dist`?
Best, Ge

[2015-05-06 21:53] puleos commented on #17
@episodeyang yes!

[2015-05-06 21:58] puleos commented on #18
Granted @addaleax push access.

[2015-05-06 22:51] addaleax commented on #18
@puleos Thanks, I’ll do my best to help – If you want to add me for npm, my username there is sqrt

[2015-08-26 10:51] koraa opened #21 "Hashing closures"
It should be possible to hash closure functions;

As an example:
[code]

Even though the functions are actually different, their hash would be the same, since both would generate the string: `function() { f.apply(this, arguments }` (or something similar).
At least on V8.

The best way to solve that would be hashing based on the scope: `a` and `b` both have a variable `f` in their scope and actuall

[2015-08-26 13:23] addaleax commented on #21
Given that only `a` is available to the hash function and only very few properties of functions are available, I don’t think this can be done – your workaround is the best thing that comes to my mind. I don’t know if there’s anything more available than which is listed by the tab completion of the node.js/io.js CLI when typing in `a.[TAB]`, but none of the possibilities there seem to lead anywhere

[2015-08-26 13:23] #21 closed

[2015-10-17 20:49] natew opened #23 "Support symbol!"

[2015-10-17 22:01] #23 closed

[2015-10-17 22:05] addaleax commented on #23
Done & published as v0.9.2.

[2015-10-18 03:20] natew commented on #23
Thanks!

[2015-12-20 12:08] ronyrun opened #24 "sort the array."
Hello,

Thank you for your work.

Would it be possible to sort the arrays ?

Currently :

[code]

[2015-12-20 12:24] #24 closed

[2015-12-20 12:33] addaleax commented on #24
Added the `.unorderedArrays` option in v0.9.4, i.e. you can do:

[code]

I’m not sure I would recommend this approach if you don’t knot exactly what data you are hashing, but after all, it’s up to you how you use this library.

[2015-12-20 14:16] ronyrun commented on #24
Thank you so much :)

[2015-12-21 12:23] ronyrun opened #25 "[Enhancement] ==> Bower ?"
Hello,

Would it be possible to have this lib available through Bower and Client Browser ?

[2015-12-21 13:49] ronyrun opened #26 "type Blob Management"
Hello,

I have some object with a blob as property.

WHen trying to hash, I have this issue :

![image](https://cloud.githubusercontent.com/assets/7273443/11931931/d4bf51da-a7f1-11e5-9e4e-03571cd75c28.png)

![image](https://cloud.githubusercontent.com/assets/7273443/11931995/52a4b7c0-a7f2-11e5-88dc-d94602949db8.png)

What about only take the size and  the type and the digest of the blob for the ha

[2015-12-21 13:52] #25 closed

[2015-12-21 23:13] addaleax commented on #26
Sorry, but this one is a little bit harder – As far as I can tell, `blob.digest` is non-standard (in fact, neither my installed FF version nor my installed Chrome version support it, and I can find nothing about it in the [specs](https://w3c.github.io/FileAPI/#constructorBlob)?)

The only reliable way, as far as I can tell, would be to use a FileReader, but that’s async and this library has, so fa

[2015-12-22 15:52] ronyrun commented on #26
Hi,
Yes I understand,

I'm not an expert concerning the blob.digest.
What about to remove this blob from the object in order to get a hash without an error ?

[2015-12-22 16:16] addaleax commented on #26
Maybe one could do something like specifying a replacement/filter function that would remove Blobs (similar to e.g. [`JSON.stringify(value, replacer)`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/JSON/stringify)… I guess that would be a good idea anyway, will look into that later today :)

[2015-12-22 17:43] ronyrun commented on #26
Thank you Anna :)

I'm using your lib in order to control if No Sql Docs exist or not during a Synchronization between Databases.

[2015-12-23 09:59] addaleax commented on #26
Sorry, I probably won’t come to fix this until after the 24th :/

[2015-12-23 10:00] addaleax commented on #26
Sounds like a cool project! Hope these issues here are not blocking your work too much

[2015-12-23 12:20] ronyrun commented on #26
No worries :) I love your lib !

[2015-12-25 23:33] addaleax commented on #26
So, I got to take a look at this – It does not seem feasible to hash Blob contents at the moment, but in your special case that should not be a problem. You can specify either the `.ignoreUnknown` option which makes object-hash ignore Blobs (and other types it does not know how to handle), or, more specifically, remove only `Blob` objects by specifying a `.replacer` function:

[code]

This will be

[2015-12-25 23:33] #26 closed

[2015-12-26 10:04] ronyrun commented on #26
Thank you !! the replacer is exactly what I needed ! this way I can manage what I have :)

[2015-12-26 11:34] addaleax commented on #26
Great! Let me know when there’s another issue :)

[2015-12-26 12:02] ronyrun commented on #26
OK!

[2016-01-05 16:57] ronyrun opened #27 "[unorderedArrays] Slow process"
Hello,

Happy new year.
I encounter a slow behavior when hashing with unorderedArrays : true
with this option, the hashing take 1 second per object.

I know that a "for loop" is faster than a array.forEach,
even with map optimization can be applied :
https://jsperf.com/arraymap
https://jsperf.com/native-vs-array-js-vs-underscore/37

do you think it's possible to optimize the performance of this li

[2016-01-05 18:32] ronyrun opened #28 "Bower"
C:\Users\User\Dev\Project>bower install object-hash
bower object-hash#1.0.0     not-cached git@github.com:puleos/object-hash.git#1.0.0
bower object-hash#1.0.0        resolve git@github.com:puleos/object-hash.git#1.0.0
The authenticity of host 'github.com (192.30.252.131)' can't be established.
RSA key fingerprint is 16:27:ac:a5:76:28:2d:36:63:1b:56:4d:eb:df:a6:48.
Are you sure you want to continue

[2016-01-05 23:09] #28 closed

[2016-01-05 23:24] addaleax commented on #27
Hi!

I’m aware that using `unorderedArrays: true` may result in decreased performance, but unfortunately, allowing Array instances to be hashed without respect to their ordering is far from trivial; JS objects can have some pretty tangled relations, and keeping track of circular references is not easy when the order of items in an array is supposed to be irrelevant (one *might* be able to use a si

[2016-01-06 11:02] ronyrun commented on #27
Hi,

Here it is :

[code]

[2016-01-06 18:10] addaleax commented on #27
Sorry, but I can’t really seem to reproduce your timing values. Calling `objectHash(object, {unorderedArrays: true});` consistently averages to about 80 ms/call (in the browser)… are you using any other options, besides `unorderedArrays`?
I will be looking further into this, since 80 ms might be considered a lot already, though.

[2016-01-07 12:19] ronyrun commented on #27
HI,

80ms is fine for me !
I probably have other process ongoing then in //.
Also I launch the hash on a mobile device (Cordova Ionic Chrome).

the process is fast on my Chrome (LAPTOP) and Slow on the mobile device (1 second).

On chrome mobile : When I switched off the unorderedArrays it's getting a lot faster :
here are timestamp before and after a hash (without unorderedArrays).
![image](https

[2016-01-07 16:58] addaleax commented on #27
Okay… could you test out a few things for me? Most importantly, could you maybe see whether passing in `algorithm: "passthrough"` (or maybe also `respectType: false`) provides any speedup of the call to `hash()`? Both informations would be helpful in locating where the problem lies :)

[2016-01-07 18:40] ronyrun commented on #27
OK ! I'm on it !

[2016-01-09 13:04] ronyrun commented on #27
On my Chrome LAPTOP :

{"respectType":true,"algorithm":"sha1","encoding":"hex","excludeValues":false,"ignoreUnknown":false,"respectFunctionProperties":true,"unorderedArrays":false,"unorderedSets":true} ====> **66.09999999999991ms**

{"respectType":false,"algorithm":"sha1","encoding":"hex","excludeValues":false,"ignoreUnknown":false,"respectFunctionProperties":true,"unorderedArrays":false,"unordere

[2016-01-09 13:22] ronyrun commented on #27
Same on my mobile :

{"respectType":true,"algorithm":"sha1","encoding":"hex","excludeValues":false,"ignoreUnknown":false,"respectFunctionProperties":true,"unorderedArrays":false,"unorderedSets":true} ====> **242.34400000023015ms** & hash.length:  40
 {"respectType":true,"algorithm":"passthrough","encoding":"hex","excludeValues":false,"ignoreUnknown":false,"respectFunctionProperties":true,"unordere

[2016-01-09 13:25] ronyrun commented on #27
Here is the code :

[code]

[2016-01-09 22:50] addaleax commented on #27
Ah… yes, I can reproduce this problem, but apparently only with Chrome – FF is still 8× faster, almost on the Node.js level (which is a little bit weird, since Chrome and Node.js both use V8 as their JS engine). Am looking into this…

[2016-01-10 00:12] #27 closed

[2016-01-10 00:18] addaleax commented on #27
Thanks for the report again! The `stream-browserify` implementation seems to be very slow, esp. on Chrome, but luckily this module does not need much of it, and by replacing it the timing data is a lot better. The update is landed in `object-hash@1.1.0`. :)

[2016-01-10 11:18] ronyrun commented on #27
Amazing Anna ! It's very fast now !!!
thank you !!

[2016-01-11 04:32] addaleax commented on #27
Great, I’m glad I could help! :)

[2016-01-15 20:59] ronyrun commented on #27
Me Again :) do you know if we wan improve more the perf ? :)
This time it's just for the perfection target :) a challenge :)

Take care

[2016-01-17 09:31] addaleax commented on #27
Hi again! I guess that depends a lot on your use case… what are you using object-hash for? Is it in the browser (and if so, what browsers have to be supported)? Do you require a cryptographic hashing algorithm, or do you just use it to check whether 2 values are (probably) the same?

Maybe replacing the crypto implementation of browserify with something more performant is a good idea, but that mig

[2016-01-19 09:31] ronyrun commented on #27
Hello !

I use object hash in order to generate a uniq revision number of docs stored in a No-Sql DB.
This way I can manage a replication with only created and changed docs.

It is in the browser of a Ionic cordova application (Chrome and Safari).
I use it to check when 2 values are the same from a remote and a local DB (I save I/O size this way).

I note your email :)

Take care,
Ron

[2016-01-19 19:45] addaleax commented on #27
Well, given that you probably trust the content from remote DBs, using CRC32 or some other checksum algorithm might be a good idea. I’m unable to find a good browser implementation with support for Node.js-style streams right now, but it might be worth a shot (and in general, I’d assume that the crypto stuff here is the most expensive part when it comes to performance).

I’ve thought about adding

[2016-02-23 14:31] gergelyke opened #30 "Changing from 1.1.0 to 1.1.2 breaks the hash"
Hey,

did you notice anything like this? In our use-case the result hash has changed :/

[2016-02-23 16:56] addaleax commented on #30
Yeah, I’ve thought about this a bit, but never really reached a conclusion.
The problem is: For virtually any change here (at least in the past) there is *some* object for which the hash changed, and it’s not obvious anyway whether the returned exact hash value should be considerered part of the public API here.

Some thoughts I’ve had on this:

- It’s hard to be portable anyway. This module suppo

[2016-05-07 17:50] brianreavis commented on #30
Is the emphasized part a bad thing?

I agree with you though, semver on a project like this is very tough to wrestle with (if not impossible). I think keeping the versioning strategy that's going now is reasonable, but there at least needs to be a note in the readme telling people they should lock `object-hash` at a specific version, because new versions (even patch versions) are likely to affect

[2016-05-07 21:13] addaleax commented on #30
Not necessarily, but it makes semver kind of pointless. Ideally, there would be a way to specify two versions, one for the API and one for the returned data (you could compare that to an extra ABI version), but I don’t really see a good way to implement that.

For now, your disclaimer seems like a reasonable idea.

[2016-06-25 17:21] ycpatel813 opened #33 "Is it possible to return decrypt??"
Hi
I want to use it to generate access key which is publicly shared to my client when my client request using that key i can return decrypt that key and get actual result.is it possible in this ?? or any suggestion or idea to tackle this situation.

[2016-06-25 17:30] addaleax commented on #33
I’m not a 100 % sure what you want to do, but I can’t really see how this issue is related to `object-hash` specifically. If you’re seeking a way to serialize and deserialize objects again, then no, that is unfortunately not something that’s supported by this library.

[2016-06-25 19:28] ycpatel813 commented on #33
@addaleax thanks for reply you are totally right.sorry for not using technical language.

[2016-06-25 19:29] #33 closed

[2016-06-25 20:04] addaleax commented on #33
No problem, I was just not sure what exactly you were asking. Let me know if there’s anything else I can help with!

[2016-06-26 06:14] ycpatel813 commented on #33
Hello sir,
       Actually i am developing Project Management tool for our client in that Admin can create unlimited project.I want to generate Personal Access Tokens for every project with their scope so Admin gives Personal Access Tokens to user and user uses it to write their API detail for their project only.if token has only reading scope then user can not write API detail.simple and straight

[2016-06-27 12:46] SkeLLLa opened #34 "Memory leak on large datasets"
Hello.

I've experienced an issue running this lib to calculate hashes inside a loop. The hash object is quiet small ~ 6 fields, containing short arrays (from 1-6 elements):
[code]

There are ~ 100 000 items in such array (they are coming from mongodb). If all of those keys are processed synchronously (e.g. within forEach loop)
[code]
Object hash library eats ~ 100Mb heap size on each 5000 items a

[2016-07-06 14:16] whitecolor commented on #30
I think probably the best way it to increase major version you change algorithm or approach to hash calculation. minor versions for adding capabilities. path for bugs. I don't see any irrelevance with semver concept.

Consistency is the most important thing for this lib.

[2016-07-11 18:46] leandrw opened #36 "Wrong script for browser in bower.json"
Bower.json is referring to `index.js`, but the right script is `dist/object_hash.js`

[2016-07-11 19:10] #36 closed

[2016-07-29 17:20] gendalf opened #37 "Ignore objects with non latin keys"
Objects like
{ 'ключ': 'значение' }
and
{ 'ключ': 'значение1' }

Have same hash result

[2016-07-30 06:25] addaleax commented on #37
Can you show e.g. a piece of code to reproduce this? This is the result for me:

[code]

[2016-08-01 14:43] addaleax commented on #34
Hi, this kind of went unnoticed here for a while. I’m having a look, I think I can reproduce this behaviour. You definitely can feel free to bump an issue here if it doesn’t get a quick response!

[2016-08-01 16:37] #34 closed

[2016-08-01 16:50] addaleax commented on #34
fwiw, a fixed version is published as `object-hash@1.1.4`, even though I see that you have written other code yourself.

[2016-08-01 17:55] SkeLLLa commented on #34
@addaleax thanks.

Yeah. I've wrote a very simple lib that supports just a small subset of various object types, but which is enough to support all objects that we're writing into db.

[2016-08-01 19:12] addaleax commented on #37
@gendalf If that didn’t answer your question… are you asking to have these kinds of keys to be ignored? Or what exactly is the behaviour you are seeing/would like to see?

[2016-08-09 00:17] grempe opened #38 "Feature request : compatibility with objecthash (java, go, c, python, ruby) libs"
There are two projects which perform almost exactly the same function as this one:

@benlaurie
https://github.com/benlaurie/objecthash

@cryptosphere
https://github.com/cryptosphere/ruby-objecthash

Between them, they support C, Go, Python, Java, and Ruby. All versions output the same SHA256 hashes for the same input and provide tests to ensure they stay that way.

It would be awesome if this libr

[2016-08-09 00:29] addaleax commented on #38
Huh, cool stuff! I’ll take a look at it, and there’s a good chance something like it is implementable, although I can say right now that these libraries have different objectives.

This library aims to support hashing of *any* kind of input, including circular object structures, DOM XML objects, Node.js `Buffer`s, etc.

Also, benlaurie’s implementation seems to perform a lot more hash operations p

[2016-08-10 16:06] grempe commented on #38
Great. Thanks for taking a look.

[2016-10-31 13:31] BlockChange commented on #3
When I use this in IE, the hashes come out different? On Edge they are the same though.

[2016-11-06 16:16] d4vidi opened #39 "Object-hash leaking?"
Hello,
suspecting memory leaks, I ran the following test over object-hash:
[code]

These were the results:
[code]

Seems like the there are serious leak issues. Could you advise?
Do note that I've tried all versions 1.1.0 - 1.1.4 (inclusive).

Thanks.

[2016-11-06 16:23] addaleax commented on #39
I’ll try to look into this. Can you provide a full reproduction, ideally with your `data` object or an approximation to it?

I can confirm the increasing run times but not the leak itself.

[2016-11-06 16:25] d4vidi commented on #39
Sure. `data` is in fact a gibberish object that I created:
[code]

**But it is really irrelevant:** This problem will also be introduced even if you set `data={}`

[2016-11-06 16:30] addaleax commented on #39
I am still not so sure about the memory leak – inserting a `gc();` call after the loop and running the test script with `--expose-gc` seems to keep the resource usage pretty stable.

The timing thing seems to only occur on Node >= 6.3.0, so I’ll dig into that.

[2016-11-06 17:02] addaleax commented on #39
So, yeah, this comes from nodejs/node@2c7804ad9eedad7f5e996a06af4c59f8a4bd7103 but in a way that’s not really to blame on Node itself. I’ll have a patch up for object-hash in no time.

[2016-11-06 17:14] #39 closed

[2016-11-06 17:16] addaleax commented on #39
`+ object-hash@1.1.5`

It would be great if you could confirm that everything works as expected now. :)

[2016-11-06 19:18] d4vidi commented on #39
Amazing! Thanks for this super-fast round-trip. I'll look into it ASAP.
Just to be sure -- the fix has no effect on the resulting hash codes, right?

[2016-11-06 19:21] addaleax commented on #39
Yes, exactly. :)

[2016-11-06 19:44] d4vidi commented on #39
Double & triple tested, seems good. Can't thank you enough!

[2016-11-06 19:49] addaleax commented on #39
My pleasure! :smile:

[2016-11-18 17:58] spiderbites opened #40 "Feature request: using excludeValues, don't exclude keys for for nested objects"
Hello,

First off, thanks for this library!  I'm interested using this library to determine whether two nested objects are structurally equal.  In other words, I'd like to compare hashes computed with the `excludeValues: true` option, but that takes into account whether nested objects have the same keys.

e.g.

[code]

The current behaviour has `hash(baz, {excludeValues: true}) === hash(fizz, {exc

[2016-11-22 04:07] addaleax commented on #40
@spiderbites Sorry for the late reply… maybe I’m misunderstanding you but would
[code]
be what you want? If not… I am not a hundred percent sure what “structurally equal” means in this context?

[2016-11-22 14:23] spiderbites commented on #40
No, that's not quite what I'm getting at.  Another way to say it is that `hash(obj1) === hash(obj2)` if and only if all of the keys in obj1 appear in obj2 at any level of nesting.

[2016-11-22 15:52] addaleax commented on #40
Oh – so, exclude each value in an object *only* if that value itself is *not* an object? Yeah, that seems to make sense, and you can definitely work on a PR if you’d like (or wait for me to do that).

[2016-11-22 17:07] spiderbites commented on #40
Yes that's exactly it.  I'll try and find some time for that.  Cheers!

[2016-11-30 18:14] ccorcos opened #41 "Error: Algorithm "sha1" not supported. supported values: passthrough"
I originally posted this on the `eslint-loader` project https://github.com/MoOx/eslint-loader/issues/128

[code]

No idea what thats all about:

[code]

[2016-12-01 13:34] addaleax commented on #41
This seems weird. Could you show instructions for reproducing the original error you are seeing?

Also, does `npm ls|grep object-hash` give you the latest version of `object-hash` (1.1.5)?

[2016-12-01 22:03] ccorcos commented on #41
yes, 1.1.5

you can see if you can reproduce it on your end (the sed command enables eslint which is using object hash [here](https://github.com/MoOx/eslint-loader/blob/672a1008e29162b03e82519df7bab30f27923e69/index.js#L43)):

[code]

You can see the result when I run the following:

https://gist.github.com/ccorcos/4fdbc1416111506299234be538ac30e6

[2016-12-01 23:56] addaleax commented on #41
You are experiencing https://github.com/montagejs/collections/issues/162, this has nothing to do with `object-hash`. The `collections` module is overriding language built-ins like `Array.from`, which is something you are *never* supposed to do (and issues like this are the reason for that).

The dependency chain for that is `doug → gh-pages → q-io → collections`.
I don’t know what options you have

[2016-12-01 23:56] #41 closed

[2016-12-02 00:07] ccorcos commented on #41
thank you so much for the help! that's so annoying -- this is a perfect example of why you shouldnt override prototypes.

[2016-12-02 00:14] ccorcos commented on #41
also, how did you find that?

[2016-12-02 03:00] addaleax commented on #41
So… I looked up the script that was actually getting executed (I think that was `packages/example-app/node_modules/.bin/doug-app`) and had a kinda good idea of what the problem was, judging from your report. I felt like `crypto.getHashes()` got overwritten or mocked or whatever, so what I did was I insert a `console.log(require('crypto').getHashes().includes('sha1'))` line, once at the beginning o

[2016-12-02 19:51] ccorcos commented on #41
Oh interesting. `console.trace(values)` -- is that going to log the stack trace of where that variable is passed?!

[2016-12-02 20:29] addaleax commented on #41
`console.trace(values)` is basically just `console.log(values)` + `console.log(new Error().stack)` – nothing too fancy. :smile:

[2017-01-12 21:20] rubennorte commented on #30
I agree with @whitecolor. You could follow semver increasing major versions when the algorithm generates a different hash for the same input. You can test this comparing the output of several samples across versions (in the same environment).

For changes in the algorithm that generates the same output you can just increase minor or patch.

[2017-03-01 09:59] tomasztomys opened #44 "Problem with pre-built javascript as main file"
![image](https://cloud.githubusercontent.com/assets/7750691/23454909/1c4d3e9e-fe6e-11e6-8f77-5eacdf4acf65.png)

[2017-03-02 11:53] isnifer commented on #44
@addaleax you are using 'crypto' as dependency. But you didn't add it into `dependencies` section in package.json. It will help too.

[2017-03-02 18:38] #44 closed

[2017-03-02 18:41] addaleax commented on #44
Added `v1.1.7` with a `browser:` field instead of a `main:` field pointing to the browser file, that seems like the better approach.

The `crypto` module on npm is definitely nothing that should ever appear as a dependency, it’s not the same as Node’s built-in `crypto` module or `browserify-crypto`.

[2017-03-13 04:32] fo2w commented on #41
same issue, is there a solution?

[2017-03-13 13:03] addaleax commented on #41
@fo2w Can you give more details, like a reproduction, or the output of `npm ls`?

[2017-03-19 14:32] EmpireWorld opened #46 "Similar Hash for Anonymous Functions"
When i try the below code:
[code]
Outputs are same.

[2017-03-19 14:36] addaleax commented on #46
Right, the code uses `.toString()` to hash functions. What would your expected output be?

I don’t think `object-hash` has reliable means of turning object identity into hashable information, so even if you expect different hashes it might not be feasible to generate those. :/

[2017-03-19 14:45] EmpireWorld commented on #46
I want to generate hash for functions to store them identically for example:
[code]

[2017-03-19 14:47] EmpireWorld commented on #46
Please visit the below address and check the "_wp_filter_build_unique_id" function.
[https://github.com/WordPress/WordPress/blob/master/wp-includes/plugin.php#L874](https://github.com/WordPress/WordPress/blob/master/wp-includes/plugin.php#L874)

[2017-03-19 14:52] EmpireWorld commented on #46
Thanks. i get wrong. excuse me.

[2017-03-19 14:52] #46 closed

[2017-03-19 14:53] addaleax commented on #46
@EmpireWorld No problem. It would be possible to implement what Wordpress does there, but I’m really not sure how I’d feel about adding hidden properties to the function objects – if you think this is important, I can still look into it as an optional feature.

[2017-03-19 14:55] EmpireWorld commented on #46
No there is no worry. i used the below answer:
[http://stackoverflow.com/questions/1997661/unique-object-identifier-in-javascript](http://stackoverflow.com/questions/1997661/unique-object-identifier-in-javascript)

[2017-04-05 10:17] tomasztomys commented on #44
The problem still appears...
![image](https://cloud.githubusercontent.com/assets/7750691/24701178/d03b8cfc-19f9-11e7-946c-c479646893f9.png)

[2017-04-05 10:18] addaleax commented on #44
@tomasztomys Can you answer to https://github.com/puleos/object-hash/issues/44#issuecomment-283363376?

[2017-04-05 10:19] tomasztomys commented on #44
Yes, it helps, but it's not a solution :). It's not natural import :)

[2017-04-05 10:20] addaleax commented on #44
@tomasztomys Yes, but also, by “Could you let me know how/in what context this occurs?” I meant … are you using some kind of build system, or generally, *how* do you load the module?

[2017-04-05 10:29] tomasztomys commented on #44
I use webpack v1 and import by: ` import objectHash from 'object-hash'; `

[2017-04-08 04:56] adeopura2 opened #47 "Please add license file"
If you could add a license file, it would help us with proper attribution. Thank you.

[2017-04-09 15:14] #47 closed

[2017-04-12 08:38] kwanray commented on #44
I am using 1.1.8 and webpack 1.12.14 with react. I am using it as `const hash = require('object-hash')` in one of the Javascript file.

[2017-05-17 02:49] zyf0330 opened #48 "shorter hash string"
I think md5 and sha1 are both a little long, so is there a hash generating shorter string?
Thanks.

[2017-05-17 12:18] addaleax commented on #48
I don’t think you’ll find a “short” modern hash, but you can always take `SHA256` or so and just take the first 10 characters of the result or so?

[2017-05-18 01:24] zyf0330 commented on #48
Then does object-hash supply SHA256 encoding?

[2017-05-18 10:11] addaleax commented on #48
Sure, anything that’s supported by the `crypto` module should work. For example:

[code]

Be careful, this module does something related but quite different from `hashCode` – this module uses a cryptographic hash function, and recurses into nested properties of objects, whereas the default Java `hashCode` is *not* designed to be cryptographically secure and gives you much shorter results, so it’s

[2017-05-18 10:22] zyf0330 commented on #48
Actually, I use hash to distinguish whether two objects are same. So short and fast of hash result are what I need. For coordinating both them, which way should I choose? Thanks.

[2017-05-18 10:29] addaleax commented on #48
@zyf0330 Sorry, but can you be more specific when it comes to “are the same”? Are false positives okay (non-cryptographic hash methods will always give you some)? Are you talking about deep equality of objects?

If you have large objects and you can store the hash output alongside with them, and false positives are not okay, then that’s what this module is there for. Use it with `SHA256` or someth

[2017-05-18 10:35] zyf0330 commented on #48
It is game server, and data is all in memory. I persist them every one minute. I use hash to exclude objects not changed to avoid writing to database.

[2017-05-18 10:38] addaleax commented on #48
Yeah, then you don’t want a cryptographic hash function, and this module is probably not the right thing for you. :/ My guess is that you’d be best off writing your own hash function, but that depends a lot on how the objects look olike.

[2017-05-18 10:39] zyf0330 commented on #48
All objects are `{}` and set some properties on them, no function or others.
What module should I use? I have no much experience.

[2017-05-18 10:40] addaleax commented on #48
@zyf0330 Have you tried just using `JSON.stringify()` on them?

[2017-05-18 10:44] zyf0330 commented on #48
I think memory usage is more important，so it is not good.

On Thu, May 18, 2017, 18:40 Anna Henningsen <notifications@github.com>
wrote:

--

追随

[2017-05-18 10:47] addaleax commented on #48
@zyf0330 Then any module that doesn’t read the data from the object in-place won’t do what you want. If you care about performance, you’ll want to write your own hash function – but how that looks like depends a lot on how your data looks like, so I can’t really give you advice on that without seeing some of your code.

[2017-05-18 11:23] zyf0330 commented on #48
OK. thanks.

On Thu, May 18, 2017, 18:47 Anna Henningsen <notifications@github.com>
wrote:

--

追随

[2017-05-18 11:23] #48 closed

[2017-06-28 02:34] siboulet opened #49 "Exception trying to hash Mongo ObjectID"
I'm trying to use object-hash to hash an object contain a Mongo ObjectID object.

The following code:

[code]

Throws:

[code]

Any help would be greatly appreciated.

Thanks

[2017-07-27 14:31] jsuiker commented on #30
+1 for following semver guidelines

[2017-07-27 14:33] addaleax commented on #30
@jsuiker Nobody is suggesting anything else, the question is how semver would be interpreted in the context of this library.

I think it’s a good sign that there hasn’t been much change in this library this year; if the ultimate resolution to this problem is to just avoid changes in general, that might be an acceptable way out.

[2017-07-27 15:30] jsuiker commented on #30
@addaleax Sorry for causing you any extra head-ache! Now that I've spent a few minutes reading the source, it makes sense why we're having this discussion - it's the very nature of a hash that you can't make a small change without completely changing the SINGLE return value

So I say, just keep going with whatever versioning scheme works for you :+1:

[2017-07-27 15:32] jsuiker commented on #30
As for the portability issues you are talking about, I'm curious to hear why they're such an issue.  I would think that once you have an idea of what sort of string should represent a function, you can strong-arm whatever browser output to give you what you need...  thoughts?

[2017-08-06 18:45] jwueller commented on #30
I think semver does not leave any room for interpretation here:

The return value is part of the public API. If the return value is not backwards-compatible (which it often seems to be, according to the disclaimer), it seems to require a MAJOR version increase in order to be compliant.

This is especially important when tools like npm make assumptions about compatibility, (e.g. [Caret Ranges](http

[2017-08-07 15:46] addaleax commented on #30
Okay, I’m closing this thread since by now it’s just going in circles and the replies don’t actually adresss the issue in question.

No, of course there is no debate whether semver should apply to this module, the tricky bit is whether the *exact* return value is part of the API contract, or just the fact that it yields the same result if it’s used twice.

I’ve modified the policy in 03e12a70d09c

[2017-08-07 15:46] #30 closed

[2017-08-22 12:56] romanlex opened #50 "Unknown object type "htmlmetaelement""
Hello. I has error when trying get hash ob object with meta keys from document
![image](https://user-images.githubusercontent.com/3369304/29566399-68cad9e4-8752-11e7-9a6b-8de24e8efa34.png)

[2017-09-14 00:17] bean5 commented on #37
@addaleax if the has function were to ignore those _keys_, the objects would each basically be `{ }`, so the above two objects would have equivalent hash values.

So you could reword this request as:

Is that correct, @gendalf ?

[2017-09-14 09:01] addaleax commented on #37
I think a feature ignoring non-latin keys is something I’d like to avoid, because it seems a lot more specific than what this library is trying to achieve. You can already pass a `replacer` function with which you can transform the individual bits of input, and I think that could be used for stripping these properties as well:

[code]

[2017-09-14 13:11] bean5 commented on #37
That is a valid point. Might be worth mentioning some use cases for replacer such as this one in the documentation.

[2017-09-14 13:13] addaleax commented on #37
@bean5 In that case, can you explain what the use case for this is? :)

[2017-09-14 13:15] bean5 commented on #37
"removing keys that have non-latin characters" ?

[2017-09-14 13:17] addaleax commented on #37
@bean5 yeah, but that’s an action, not a use case? like, why/for what do you want to do this?

[2017-09-14 16:05] bean5 commented on #37
Sorry, didn't get trained 100% in differentiating those two. I think you can close this now. Sounds like your aren't amenable to adding documentation or code. I can't speak for they original use case. I mainly wanted to clarify the ask as I understood it.

[2017-09-14 16:12] addaleax commented on #37
@bean5 Okay, thanks. And re: adding documentation code – I would be perfectly okay with that if I could know why somebody might want to do this? It doesn’t seem to be useful to a lot of people to dismiss keys based on their character code ranges…

(Also: PRs are generally welcome!)

[2017-09-14 16:12] #37 closed

[2017-10-05 22:03] bean5 opened #51 "expose sorted object"
For auditing purposes, it would be helpful to have both the hash and the sorted object (e.g. the objects that would be hashed with setting of `{unorderedArrays: true, unorderedSets: true}`).

I would contribute this option myself, but I don't think I would get it right.

[2017-10-08 18:52] addaleax commented on #51
@bean5 Can you explain a bit more how the API for this would look like, as you have it in mind? It sounds like you have a more concrete idea of it than I do…

[2017-10-08 22:09] bean5 commented on #51
Just before hashing, but after sorting, return the sorted value. Do this as a subroutine by the hash functions. Exposing this as a function would allow this project to be used to sort deterministically. Does that make sense?

[2017-10-09 01:29] chocolateboy opened #53 "Support ES6 Symbols"
Symbols are [unique](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Symbol), so the implementation added in #23 doesn't work as expected e.g.:

[code]

The last test should return false because the values are as distinct as two different numbers.

[2017-10-09 13:42] addaleax commented on #51
@bean5 Sorry, but what do you mean by “return the sorted value before hashing”? That doesn’t quite make sense – after returning, a function doesn’t do anything anymore (by definition…)

Are you talking about a hook that transforms values in a certain way? Or splitting this library into serialization + hashing?

[2017-10-09 17:26] bean5 commented on #51
It would be a new function--likely one that all the hash functions would
call anyways. Optionally, you could return a struct instead of just a hash,
but that seems less clean and maintainable.

On Mon, Oct 9, 2017 at 6:42 AM Anna Henningsen <notifications@github.com>
wrote:

[2017-10-11 03:22] addaleax commented on #51
So, you want a way to get the intermediate object that’s created after sorting?

[2017-10-11 03:25] addaleax commented on #53
The only issue is: *how*? I don’t think this would be possible without a global list of symbols that have been seen, but you really want a hash function to not depend on mutable global state, so … hm. You might be right, but this might just not be possible to do.

[2017-10-11 04:49] bean5 commented on #51
Exactly.

On Tue, Oct 10, 2017, 8:22 PM Anna Henningsen <notifications@github.com>
wrote:

[2017-10-11 18:22] henricazottes commented on #49
I had the same error when using an object containing a populated attribute (I'm using mongoose). But thanks to your question I know now that it comes from the ObjectId, and I found an answer:  use ``toObject()`` method and the hash will work :)

[2017-10-11 22:54] henricazottes opened #55 "Different hash with the same object (but without the same attribute order)"
Hi,
Just for the records, I had an issue when hashing two "same" objects. It appeared that an object order its attributes in the order they are added to it. Moreover, this hash() function will vary depending on the attribute order. It means that my two "same" objects (containing the same attributes and values) where giving a different hash.

My solution to this was to use ``Object.entries(myObject

[2017-10-12 00:22] addaleax commented on #55
@henricazottes Can you check which version of object-hash you are using? This has been fixed a long long time ago, I think…

[2017-10-12 00:36] addaleax commented on #49
Yeah, this is tricky – this invokes a getter on the ObjectID prototype, not the object itself … you can work around this by using `respectType: false`, but that is going to give you different hashes.

[2017-10-19 16:36] SnidelyWhiplash commented on #50
I ran into this too, but realized it's due to the structure I was trying to hash. In my case it was a Backbone view, and some properties on it were pointing to DOM elements. It seems object-hash chokes on these (probably expected).

In my case, all I cared about was hashing the view class + view options to get a unique identifier, so I just plucked those and stringified it before hashing:
[code]

[2017-10-28 15:29] bean5 opened #58 "Link to https://github.com/bean5/node-object-hash in README"
As we agreed upon in https://github.com/puleos/object-hash/pull/52, I have separated the project that wraps object-hash in a node docker container. You mentioned that you'd like to link to the project. I proposed some verbiage at https://github.com/puleos/object-hash/pull/57. Feel free to modify!

[2017-11-08 20:45] d-a-g-e commented on #41
`Error: Algorithm "md5"  not supported. supported values: passthrough`
this work form me D:
`hash(obj, { algorithm: 'passthrough' }`

[2017-11-11 12:55] maelfosso opened #59 "Not working in angular2"
Hi,

Please how to use it on angular 2 ?
The code ``` import {hash} from "object-hash" ``` trigger an error

[2017-11-12 02:05] addaleax commented on #59
@maelfosso Can you post that error here somewhere?

[2017-11-14 03:21] maelfosso commented on #59
@addaleax  Have already solve the problem. It was because ```hash``` it's not between the method to import from ```object-hash```

[2017-11-14 03:21] #59 closed

[2017-11-20 16:53] Karankang007 commented on #59
Is https://www.npmjs.com/package/@types/object-hash updates with this fix?

[2017-11-20 16:58] Karankang007 commented on #59
This works for me:

[code]

[2017-12-16 06:46] DoumanAsh opened #61 "Strange object is beeing dispatched internally"
One of my dependencies, `eslint-loader` uses `object-hash` to retrieve hash for object `{ formatter: [Function], eslintPath: 'eslint' }` at https://github.com/MoOx/eslint-loader/blob/master/index.js#L172

The strange thing that for some reason internally it gets supplied with strange object for which `toString` returns `Object string` which causes error:
[code]

I don't entirely understand how `ob

[2017-12-17 06:41] bhupendraparihar commented on #55
Version 1.2.0 is still having the same issue.

[2017-12-17 21:54] addaleax commented on #55
Closing due to lack of follow-up, please let me know if that is mistaken

[2017-12-17 21:54] #55 closed

[2017-12-17 22:32] henricazottes commented on #55
I don't know why I had the version 1.1.8 installed. I tried with version 1.2 and it seems to work fine (at least with simple objects. Didn't try with nested ones).

[2018-01-24 14:33] Maqsim opened #62 "Works differently in browser and nodejs"
[code]

[code]

[2018-03-06 15:21] steventebrinke opened #63 "URL safe base64 output"
It would be nice if URL safe base64 output is supported, which uses `'-'` and `'_'` instead of `'+'` and `'/'`.

[2018-03-07 08:36] steventebrinke commented on #63
OK, that seems a good solution, thnx.

[2018-03-07 09:46] addaleax commented on #63
Cool!

[2018-03-07 09:46] #63 closed

[2018-03-08 11:29] cvimbert commented on #62
My problem is similar :
The hash is different in Angular environment, and angular-free environment.

[2018-03-15 23:22] mkrause opened #65 "Support option to not sort object keys."
Currently, all objects are sorted before hashing. This makes sense, as objects are essentially an unordered data structure.

As of ES2015 though, the spec guarantees a particular order for objects (number-like, then other strings, then symbols). See [this discussion on StackOverflow](https://stackoverflow.com/questions/5525795/does-javascript-guarantee-object-property-order).

I have a use case wh

[2018-03-15 23:23] addaleax commented on #65
A PR would be welcome :)

[2018-03-15 23:47] #65 closed

[2018-03-25 03:08] wessberg opened #67 "Doesn't support async functions"
Consider:

[code]

This breaks usage with untranspiled code (node v7.4.0 and above as well as any ES2017+ compatible browser)

I've added a PR: https://github.com/puleos/object-hash/pull/68

[2018-04-25 07:02] AngeIII commented on #62
Just checked on chrome and node works simillar e7cdcdc4fad9a0e1db0517c6757236ebf1867f41

[2018-05-11 21:09] ozomer opened #69 "Feature Request: Please add support for base64url encoding"
Please add support for base64url encoding.
see: https://www.npmjs.com/package/base64url .

[2018-06-28 14:10] kiwenlau commented on #49
I have the same problem, solved by converting ObjectId to String.：

[code]

[2018-09-12 07:32] skarbovskiy opened #70 "excludeKeys option does not treat nested keys correctly"
[code]
[code]
will result in skipping both root `cookie` and `user.cookie`.

[2018-10-13 14:00] flyweight opened #71 "Add build for <script type="module">"
I'm currently trying to use `import 'object-hash/dist/object_hash.js';` to pull objectHash into my project.  Unfortunately, it throws the following error:

![err](https://i.imgur.com/ZCu0hsl.png)

I created a [jsfiddle](https://jsfiddle.net/yjhdns7p/) that shows the problem.

At a minimum, it would be ideal to resolve the current build issue.  In the future, it would be really helpful if you could

[2018-10-14 02:34] addaleax commented on #71
Are you sure this is related to the use of `.mjs`?

Either way, pull requests welcome :)

[2018-10-15 02:05] flyweight commented on #71
The problem is currently related to browserify and the node crypto lib.  On 1108, `r = this` and `this = window` within this context.  Unfortunately when using `<script type="module">`, using `this` within its context is undefined.

![crypto](https://i.imgur.com/3RmgqbP.png)

[2018-10-15 03:13] flyweight commented on #71
Referencing a similar issue:

https://github.com/aws-amplify/amplify-js/issues/888

[2018-10-29 07:08] skarbovskiy opened #72 "Error when hashing properties with classed primitives"
[code]
Results in:
[code]

[2018-10-31 08:17] OZZlE commented on #67
the module is called OBJECT hash, not function hash......

[2018-10-31 08:36] wessberg commented on #67
Hi there! I'm not quite sure if you're joking or not, but I'm going to respond to your comment as if you're not.

(1) Are you implying that a function is a primitive value? Rest assured, functions are objects.

(2) If your definition of "object" is actually "object literal" (or "Plain Old JavaScript Object") and what you are saying is that this library should only concern itself with such, please

[2019-01-08 03:01] baoduy opened #76 "Cannot read property 'crypto' of undefined"
I got an error `Cannot read property 'crypto' of undefined` when running on CodeSanbox.
which 'crypto'  package should I install?

[2019-01-17 06:14] imhazige commented on #62
I have the same problem, when using react, it is same, when client use vue, they are different.

[2019-01-19 02:01] imhazige commented on #62
we can not reproduce the problem again now, the problem happened months ago. we will let you know if we encountered it again. Thanks.

[2019-01-21 11:46] Maqsim commented on #62
Cool. Thanks guys

[2019-02-01 00:07] GitTom commented on #38
You could take a look at 'objecthash' which is a js implementation of the libraries you mention.
https://github.com/emschwartz/objecthash-js

[2019-03-19 23:35] janek26 commented on #76
CodeSandbox ist meant for browser JS, this package requires NodeJS

[2019-03-24 02:28] baoduy commented on #76
HI @janek26
Thanks, I manage to make it work on my project already. Thanks for your help.

[2019-03-24 02:28] #76 closed

[2019-03-30 02:56] stuible commented on #71
Experiencing the same problem when building an electron project that uses this project.  For me, Disabling browserfy and using es6 exports before rebuilding the project fixed my issue.

[2019-04-09 08:07] blemaire commented on #71
Hi all, just wondering if this is something we can fix? I', working on an old project which get bundled with gulp. In dev mode, this package get imported via a <script> and I get the same error

[2019-05-03 14:08] everhardt opened #78 "Incorrect hash for array with multiple elements that refer to the same object"
I would expect ` objectHash(b) === objectHash(c)` for
[code]

That's not the case. See https://codepen.io/everhardt/pen/PvYPvp for an example.

[2019-05-03 14:12] addaleax commented on #78
This is intentional – `b[0] !== b[1]` but `c[0] === c[1]`, so the objects are considered different. I’d like to avoid making breaking changes to this project, and this would definitely be a breaking change.

[2019-05-03 14:15] everhardt commented on #78
Maybe an option flag `respectReferences` defaulting to `true` could be an option? Right now I resort to `JSON.parse(JSON.stringify(object))`, but that's a bit expensive.

[2019-05-03 14:17] addaleax commented on #78
@everhardt It’s not trivial to implement this in a way so that this still works for objects with circular references – but yes, a PR would be welcome.

[2019-05-03 14:19] everhardt commented on #78
I understand

On Fri, 3 May 2019 at 16:17, Anna Henningsen <notifications@github.com>
wrote:

[2019-05-09 21:10] bam-tbf commented on #71
Same here. We want to use a modern and legacy build, but this issue is breaking the modern build strategy that relies on using script type="module".

[2019-05-31 23:54] dotku opened #80 "unknown type htmlstyleelement"
I'm trying to hash a JavaScript object which contains huge data including htmlelements, and it seems object-hash won't able to handle it. Also if there is recursive object, I would worry it won't able to handle it either.

[2019-07-25 20:52] jvandyke-dev opened #81 "Cannot read property 'crypto' of undefined"
Hey guys,

I'm getting a

 error in my Angular/Node.js project written in TypeScript. I looked in object_hash.js:1 and my guess would be it's coming from the line
`r.crypto&&crypto.getRandomValues`

I'm totally new to Angular and Node and have no idea how to handle this. I've "npm install"-ed both object-hash and @types/object-hash. I've uninstalled and reinstalled. No luck.

When I open a new fol

[2019-08-02 11:03] victorschinaider commented on #81
Same here.

[2019-08-07 11:37] cait08 commented on #71
Experiencing the same thing after upgrading my site to Angular 8 (which uses ```script type="module"```. It's a couple months later- is there a fork anyone knows about that supports this?

[2019-08-18 00:41] simlu opened #82 "Option "strict" mode that throws when undefined values found"
We would love a "strict" option where the library raises when an `unknown` value is found.

Use case is that often objects get composed directly as a parameter for objectHash. Hence it's hard to get visibility into what is actually hashed. Raising on `undefined` would ensure that at least something meaningful was put into the object before hashing it.

[2019-08-20 05:52] simlu commented on #82
I realize now that my suggestion was silly, since this library hashes absolutely everything it can get its hand on :) So there will always be something undefined.

What makes sense though it to check if there are any "real" values that are undefined.

I've started working on that in this pr: https://github.com/blackflux/object-hash-strict/pull/3/files

[2019-08-20 06:09] antonsimola commented on #81
I have a feeling that this is Angular 8 problem, I started getting this as well after upgrade.

[2019-08-26 06:33] tangdiying commented on #81
同样有问题

[2019-08-30 16:26] AliSultanKhan opened #83 "How i can get back my hashed object?"
For Example, I Have This Code

`var peter = {name: 'Peter', stapler: false, friends: ['Joanna', 'Michael', 'Samir'] };`
 `var newObj = hash(peter);`
`console.log(hash(newObj));`

when i log i get // ea704904848c6d8a81571ff280efaf99a48b76e6

Now I want this object again its original condition for further use.
Original state : {name: 'Peter', stapler: false, friends: ['Joanna', 'Michael', 'Samir'] }

[2019-08-30 16:31] addaleax commented on #83
This is impossible by design – hashes are one-way functions, meaning that the results cannot be used to reconstruct the original data.

If you do need to retrieve the original data based on the hash, you need to store the original object separately, or used a full serialization API that allows you to restored the object to its original state from a string representation.

[2019-08-30 16:31] #83 closed

[2019-09-11 23:05] Charles-Can opened #84 "Hashing does not work with ES5 classes that use getters that refer to internal class instances"
When calling a `hash` on a class instance that has a getter the calls another a method on another internal class there is an error. *confused yet?*

See example here: [https://stackblitz.com/edit/typescript-yqkcuo](https://stackblitz.com/edit/typescript-yqkcuo)

# Expected
`hash(es5InstanceWithGetter)` returns a hash
# Actual
`cannot call [some property] on undefined`

[2019-09-27 21:48] fzxt commented on #81
Not sure. But possibly related. https://github.com/montagejs/collections/issues/162

[2019-09-30 23:47] Amerzel commented on #81
Has anyone found a solution to this issue?

[2019-10-04 12:17] oniice commented on #81
Same - updated from Angular 6 to 8 and now have this issue

[2019-10-06 22:45] Dj-jom2x opened #85 "same hash lol xD im trying to hash the quill object if they change so i know user done something to it"

[2019-10-07 12:51] addaleax commented on #85
I mean, when you’re using `keysMD5` you’re explicitly saying that you don’t care about the values, so I think this is the expected result?

[2019-10-07 13:52] kachkaev opened #87 "Missing changelog with description of breaking changes"
Hi @puleos 👋

Thanks for releasing 2.0.0! I was just notified about this release via my tooling, however I could  not find what breaking changes made you release 2.0.0. It'd be great if you could start maintaining `CHANGELOG.md` or add a few sentences on the [Releases page](https://github.com/puleos/object-hash/releases). Knowing what changed is quite handy because upgrading a dependency to a majo

[2019-10-07 13:56] #87 closed

[2019-10-07 13:56] addaleax commented on #87
There are no breaking changes.

However, unsupported versions of Node.js are no longer being tested in CI. I’ve added a note to the readme file regarding that.

[2019-10-08 01:46] Dj-jom2x commented on #85
sadly but no :(  should I use just md5? so I can just compare two objects using their hashes... i feel creating hashes is faster than stringify the objects to compare.. just a small thought.

[2019-10-08 02:11] addaleax commented on #85
Yes, that would also hash the Date values.

That’s very unlikely. If you’re interested in checking deep equality of objects you already have in memory, I would use a library made for that purpose.

[2019-10-24 10:11] Ding-Fan opened #88 "The md5 encrypt result looks not good"
The result is different from https://blueimp.github.io/JavaScript-MD5/

[2019-11-21 17:14] nateevans commented on #49
You can handle this fairly easily using the `replacer` option.
https://github.com/puleos/object-hash/blob/master/test/replacer.js

[code]

This should handle any object ids, even nested down the object tree. Might want to fine tune the replacer function to specifically act on ObjectId types.

[2019-11-30 18:48] lealceldeiro commented on #71
Any progress on this?

[2019-11-30 23:06] #71 closed

[2019-11-30 23:07] addaleax commented on #71
Again, PRs are always welcome. The build system here is quite outdated.

I’ve published `v2.0.1`, let me know if that doesn’t help.

[2019-12-01 00:55] stuible commented on #71
I can confirm that my electron project now compiles with the unmodified version of object-hash.  Thank you for your hard work!

[2019-12-03 08:49] bruceauyeung opened #89 "why update major version to 2 ?"
are there any breaking changes (compared to 1.3.1) out there ?

`eslint-loader(2.2.1)` and `winston-daily-rotate-file(4.3.0)` use `object-hash 1.3.1`, but i am stuck by issue https://github.com/puleos/object-hash/issues/71

so i manually replaced `node_modules/object-hash/dist/object_hash.js` with  the latest version(2.0.1)  and it works well.

[2019-12-03 09:06] bruceauyeung commented on #89
my apologies, i missed the changelog:

v2.0.0
Only Node.js versions >= 6.0.0 are being tested in CI now. No other breaking changes were introduced.

[2019-12-03 09:06] #89 closed

[2019-12-09 17:13] sandkampderek commented on #81
Version 2.0.1 fixed this for me:
https://github.com/puleos/object-hash/commit/1e0835cad7d273b521b8a3beee6c7cb8bd778bee
https://github.com/puleos/object-hash/issues/71

[2019-12-10 14:33] coderroggie commented on #62
I had a similar issue where angular !== node.  I'm using typescript in both environments.  Adding `respectType: false` to the hash options fixed my issue.

[2020-01-09 17:50] MESepehr commented on #88
And also this
https://www.md5hashgenerator.com/
Why?

[2020-02-10 19:46] #67 closed

[2020-02-11 05:06] smithki opened #91 "Very large bundle size"
According to [Bundlephobia](https://bundlephobia.com/result?p=object-hash@2.0.1), the bundled package size is quite large (10kb gzipped!)

If only the required APIs from `crypto` are included, the bundle size reduces to a much more reasonable 1-2kb gzipped. It would be great if the `crypto` require could be tree-shaken!

[2020-02-11 17:01] addaleax commented on #91
@smithki PRs are welcome! This module is not very actively maintained otherwise, though.

[2020-02-16 18:06] panva commented on #91
Well, it'd be great if the published package didn't include the `test` folder and  `dist/object_hash_test.js` and other developer flow related files like gulpfile, karma, bower, travis, etc...

<img width="190" alt="Screenshot 2020-02-16 19 04 40" src="https://user-images.githubusercontent.com/241506/74609980-5283da00-50ef-11ea-9e03-64d3a10e4699.png">

[2020-02-16 18:24] panva commented on #91
#92 handles removing the extra clutter. @smithki's concern could also be solved but it would require that the browser bundle is transpiled using something else than deprecated `gulp-browserify` that doesn't support the destructuring syntax that would (maybe?) make it tree-shaken?

[2020-02-17 19:36] smithki commented on #91
I’m a big proponent of [`microbundle`](https://github.com/developit/microbundle). If the project maintainers are not opposed to replacing the build system, it’s a solid option that can solve this issue without any configuration.

[2020-02-17 19:36] smithki commented on #91
I would be willing to make a PR, but I don’t want to overstep if this is out of scope for the maintainers.

[2020-02-17 21:28] addaleax commented on #91
@smithki Generally, anything that doesn’t affect consumers of this module should be just fine

[2020-02-19 10:59] JJPell opened #93 "Can I use this to compare classes of the same interface?"
Is there any way to use this library to compare classes which

[2020-02-22 06:14] masterchiefvn commented on #88
I found this problem. It will change the input and hash this changed.
For example:
Your Input: teststringabc
It change your value to: string:13:teststringabc
(13 is the length input)
See this function in index.js:
function typeHasher(options, writeTo, context){
  context = context || [];
  var write = function(str) {
    if (writeTo.update) {
      return writeTo.update(str, 'utf8');
    } else {

[2020-02-24 03:27] masterchiefvn commented on #88
Sure, It confuses a lot of users. This should be added to the document.

[2020-02-26 02:58] addaleax commented on #88
Documentation PRs are welcome, but otherwise it doesn’t seem like there’s anything to do here. It’s not reasonable to expect a library for hashing generic JS values to be consistent with hashing plain strings.

[2020-02-26 02:58] #88 closed

[2020-03-30 14:05] jburghardt commented on #91
Any progress on this?
i could help out , depending on whether @smithki is already working on it.
i dont have time to rework the whole build system, but could implement [gulp-rollup](https://www.npmjs.com/package/gulp-rollup), (or something similar?) which would just change how the browser bundle is build.

[2020-03-30 16:48] smithki commented on #91
@jburghardt -- So sorry, things are busy for me at the moment. I don't think I'll get to this anytime soon. You're welcome to take it on.

[2020-04-13 17:39] Chnapy commented on #62
I have the same issue between my front & back.

I tried using `respectType: false` without success.
But it works with `JSON.parse(JSON.stringify(obj))` like suggested @cloverich , hashes are the same.

I suspect the cause to be ES6 getters (`get props()`) that are present in a side but not in the other one.

This is the object I try to hash (JSON): https://pastebin.com/q1TbrwHA

[2020-04-17 08:18] emahuni opened #95 "error Error: Unknown object type "promise""
Module works well unless I pass data that has been resolved from a promise.

[code]

[2020-04-24 01:03] dilipsarkar opened #96 "Object with array of object not working as expected"
Hi,
I'm trying to generate an Object hash which again includes an array of Object. What seems to be happening is if the value of an array of object element changes, it still returns the same object hash. But adding/removing elements from the array of object seems to be working fine. Is this something expected ? My implementation details below -

[code]

Sample input/output:

1. Test one

 Input =>

[2020-04-24 01:42] addaleax commented on #96
Is one of the `return true;`s in the `excludeKeys` function supposed to be a `return false;`? :)

[2020-04-24 03:52] dilipsarkar commented on #96
Sorry, I was trying multiple things, so the copied getHash method code was wrong. I have updated it and double check as well. Issue seems to be genuine

[2020-04-24 13:15] addaleax commented on #96
@dilipsarkar There is a mismatch between the names in the code – the `excludeKeys` function uses `filterCriteria` and `sortCriteria`, the objects themselves use `filterCriterias` and `sortCriterias` (with an extra `s` at the end).

(Just in case you’re curious – the word is borrowed from Ancient Greek, so “criterion” is the singular and “criteria” is the plural, “criterias” is not really a thing i

[2020-04-24 16:28] dilipsarkar commented on #96
Thanks @addaleax
I think what you have pointed out is one part of the issue, with that rectified also it wasn't working as expected. Actually inside excludeKeys, I wanted to include keys only for `filterCriterias` and `sortCriteria` so I was returning true when those keys were matched. When I changed my implementation otherwise i.e. skip `pageNumber` and `pageSize`(code below), it seems to be work

[2020-04-24 16:36] addaleax commented on #96
@dilipsarkar Okay, great to hear that worked out for you! Sounds like the code does what you intend it to do :+1:

[2020-04-24 16:36] #96 closed

[2020-05-12 23:52] ungoldman opened #97 "sha1 hex hash output does not match node crypto output"
Hi, apologies if this is addressed somewhere and I've missed it, but I've searched to no avail so thought I'd bring it up here.

I've noticed that the default hash output does not match node's crypto output.

Example code:

[code]

Unless I'm missing something (which is very possible!) I assume the output of the two functions should be the same, but they are not. This is a problem for the codebase

[2020-05-12 23:57] addaleax commented on #97
@ungoldman `object-hash` treats its input as JS values, not as strings, and it can’t hash strings as-is (without introducing the risk of a collision). `object-hash` should provide the same output when run in browsers and Node.js, though (unless the object contains some browser- or Node.js-specific values).

[2020-05-13 00:05] ungoldman commented on #97
Thank you I think I understand now!

Did some digging and I see what's happening. `'string:' + string.length + ':'` is getting prepended to the value with the `_string` method (https://github.com/puleos/object-hash/blob/master/index.js#L304-L307).

So

[code]

produces output matching a string fed to `object-hash` with default options.

[2020-05-13 00:05] #97 closed

[2020-06-09 08:41] TheLudd opened #98 "Different return values from higher order functions generate the same hash"
If function A takes an argument and returns another function, the returned function will always generate the same hash regardless of which arguments were passed to A.

Example (also available here https://runkit.com/embed/x2fle9t0ymt1):
[code]

This is because calling `toString` on the returned function will always give the same string back.

I guess the most wanted behavior would be:
[code]
I am

[2020-06-15 13:59] jburghardt commented on #91
Bumping this issue. pull request is pending.

[2020-06-15 23:01] addaleax commented on #91
PRs are still welcome.

[2020-06-16 09:29] jburghardt commented on #91
https://github.com/puleos/object-hash/pull/94

[2020-07-05 13:45] KoteKotlyarov opened #99 "Unknown object type "arguments""
Maybe I will save someone's time. We should be very careful with types when passing them to this lib. Even generic array of arguments will lead to an error if you don't know that `arguments` keyword has its own type `Arguments` which isn't supported by this lib.

[code]

Results in:

And same goes for every similar issue of "Unknown type".
So do some validations & parses before passing your `huge

[2020-07-24 14:48] hiep294 opened #100 "How can I decoding the hashed object?"
[as the title]
Thank you!

[2020-07-24 15:05] hiep294 commented on #100
Is it possible to decode the hashed object?

[2020-07-24 18:49] addaleax commented on #100
Well – hash functions are intentionally one-way.

You could use the `writeToStream` function here to write the object in a way that might be decodable, but that’s probably not worth the effort.

If you need to be able to decode the objects back to their original state, you might want to look into serialization of objects rather than hashing of objects.

[2020-08-26 03:42] atomicpages commented on #91
Any interest in an ESM version for tree-shaking support? I'd be happy to send a PR for this 😄

[2020-10-24 01:12] ciosoriog commented on #95
Found the same problem, any info?

[2020-10-30 18:37] dlmoffett opened #102 "Does unorderedObjects work?"
## Summary
The documentation in the readme claims that this library can produce the same hash for objects which have differently ordered attributes.

However, I am setting up some boundary unit tests and seeing that this doesn't appear to work!

I'm hopeful that I've just done something wrong.

## Environment

- Angular application using typescript `3.9.7`

## File under test
[code]

## Tests
[cod

[2020-10-30 18:38] #102 closed

[2020-10-30 18:39] dlmoffett commented on #102
I'm an idiot! I knew I was doing something wrong!

[code]

should be

[code]

Embarrassed that I had to create this issue *and then* see my error.

[2020-11-05 18:24] oguimbal opened #103 "FYI - object-hash ported to Deno"
I ported object-hash so it is usable in Deno.

You can find it at [https://deno.land/x/object_hash](https://deno.land/x/object_hash) Let me know if you have any problem with that :)

(And thank you for this great lib !)

[2020-11-13 21:29] jweyrich opened #104 "object-hash manipulates/alters the informed string before hashing it and generates an unexpected hash"
Why do you "manipulate" the information that's going to be hashed and do not use the original string only?

Currently, your string hashing does the following ([see here](https://github.com/puleos/object-hash/blob/9991b54f2b71c5e88d5534f15499c93dc49bc68b/index.js#L305)):

    _string: function(string){
      write('string:' + string.length + ':');
      write(string.toString());
    },

If someone

[2020-11-14 12:54] addaleax commented on #104
Because that would break the cryptographic hashing property – there is no way to ensure that the hash for an object does not conflict with the hash for the corresponding string if we didn’t manipulate it.

- If you’re hashing strings only, this is the *wrong* library for it. This is about hashing JS objects and values, not strings, as the readme states.
- If you’re hashing objects, you’re not goin

[2020-11-16 12:57] jweyrich commented on #104
Collision rate is most likely not improved by prefixing the original string. Representing any amount of data in a few bytes will cause collisions eventually.

Point taken. We've moved to pure crypto.

[2020-11-16 12:57] #104 closed

[2020-11-16 13:05] addaleax commented on #104
That’s not the point – the point is that we need to serialize objects to byte sequences in some way in order to hash them, but we also need to differentiate them from user input that represents that exact byte sequence as a string. For example, if `objectHash({ a: 1 })` were to be implemented naïvely as `hash(JSON.stringify({ a: 1 }))`, then `objectHash({ a: 1 }) === objectHash('{"a":1}')`, and th

[2020-11-16 20:00] jweyrich commented on #104
You can use any arbitrary format/sequence you want.
My concern is that the library provides an interface that allows strings to be hashed, and the hash is not generated based purely on the provided string, but rather over a sequence of different bytes. If this makes sense to this library, it's OK, but IMHO, this behaviour should be clearly stated in the docs.

[2020-12-08 03:10] moyoujun opened #105 "Quite confused with the process"
compared to js-sha1, the result is different, but i dont know how to fix with that:
[code]
 and below is object-hash:
[code]
But the result is different, here is the result:

And I also test with C#,  below is my c# code:
[code]
I got the same result with js-sha1,  maybe someone here can tell me why, and how can i fix it.

Thanks a lot!

[2020-12-08 09:53] addaleax commented on #105
See #104 – this library hashes JS values *as JS values*, not strings as byte sequences. There is no way to give the same output as standard hashing functions. If you need that, you could use any other hashing library.

[2020-12-08 09:53] #105 closed

[2020-12-31 08:39] MasterEric opened #106 "Add algorithm 'none' for easy debugging."
Currently, when I want to debug to see what the string that would be hashed is, I have to run the following:

[code]

It would be convenient if, when the hashing algorithm requested is `none` or some other placeholder value, the library would simply output the value that would be hashed.

[2020-12-31 14:28] addaleax commented on #106
PRs are welcome :)

[2021-01-01 05:47] MasterEric commented on #106
Hey, so it appears this feature already existed, named `passthrough` rather than `none`.

I didn't realize it existed since it is completely absent from the documentation, and only found it after inspecting the code. I just made pull request #107, which revises the documentation to inform users about the feature.

[2021-01-01 19:51] addaleax commented on #106
Thanks for the PR!

[2021-01-01 19:51] #106 closed

[2021-01-03 21:51] Arsenalist commented on #95
same thing here. no idea what it is.

[2021-03-03 16:51] #99 closed

[2021-03-18 14:28] men232 commented on #49
[code]

[2021-05-11 02:34] skk2142 commented on #95
Just got the same error!! Any updates on this?

[2021-07-30 19:16] omar-dulaimi commented on #95
Any explanations?

[2021-07-30 20:22] skk2142 commented on #95
I moved to using node-object-hash package

[2021-08-26 10:47] sekhavati opened #109 "Support for stronger algorithms?"
The documentation for this library seems to suggest it supports any of the cryptographic hashes that `crypto.getHashes()` returns:

Hashes available:
[code]

But when I try to use them I get the following error:
[code]

Should this work or have I misunderstood the documentation quoted above?

[2021-08-29 11:57] addaleax commented on #109
@sekhavati Which environment are you running object-hash in?

[2021-08-29 17:39] un33k commented on #26
For those who use `object-hash` as a cache key generator, please note that an invalid cache is better than a stale cache.
If so, and to force cache invalidation on objects that `may` include blobs (e.g. HTTP calls), just return a unique value to force cache invalidation.

[code]

[2021-08-29 17:44] un33k commented on #26
Also, if we add `async/await to the `replacer` function signatures, we can easily call async functions in a sync manner.

[code]

[2021-09-01 08:31] sekhavati commented on #109
@addaleax Thanks for the response. I'm normally using Node v14 within AWS Lambda. For the example above whilst testing it was using a vanilla codesandbox.io project.

[2021-09-01 11:26] addaleax commented on #109
Right – if you’re using Node.js, this should work fine. I guess the codesandbox.io environment just reports that it supports hashes which it doesn’t actually support.

[2021-09-07 08:01] #109 closed

[2021-10-01 16:46] jaycenhorton commented on #95
[Simple repro](https://replit.com/@jaycenhorton/object-hash-bug-95)

[2021-10-04 08:13] addaleax commented on #95
Promises cannot be inspected synchronously, therefore, it is impossible to hash them. You should await your Promises before you pass them to any hashing function at all.

[2021-10-04 08:13] #95 closed

[2021-10-13 02:39] emahuni commented on #95
[code]

[2021-10-13 02:43] emahuni commented on #95
In that case, the lib should just await promises then hash them once resolved, rather than throw the error.

[2021-10-13 21:50] emahuni commented on #95
Use generators.

[2021-11-09 09:33] SouroucheB opened #110 "Using object-hash in react children map"
Hi,

I wanted to know if I could use `object-hash` in something like this in React :
[code]
And be sure that the key will always be unique and make possible to avoid the following problem : https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/no-array-index-key.md

TYVM
Sourouche

[2021-12-06 23:07] cmawhorter opened #111 "typescript/type for hash should probably be any, and not object"
this is a minor issue, but the first arg should probably be `any` instead of `object`, right? the hasher seems to support it. currently i've just been doing objectHash(value as any, ...).

https://github.com/puleos/object-hash/blob/676c3bc617dd2f50bf5a22dadcd7d39b30463519/index.js#L23-L24

[2022-02-17 20:57] ArtiomTr opened #113 "Javascript unsigned / signed typed arrays return the same hash"
Thank you for maintaining such great library.

I was looking at the source code and saw a small typo:
https://github.com/puleos/object-hash/blob/5e82c257251ab213bbd77a0f742d34c464af56cd/index.js#L350-L353
Int8Array has an `uint8array` prefix. The same is for the [Int16Array](https://github.com/puleos/object-hash/blob/5e82c257251ab213bbd77a0f742d34c464af56cd/index.js#L359) and [Int32Array](https://

[2022-02-18 11:36] addaleax commented on #113
Yet, it’s a bug. Feel free to open a PR for this :+1:

[2022-02-18 15:08] #113 closed

[2022-02-19 12:21] ArtiomTr opened #115 "Snapshot tests"
Jest provides awesome feature - [snapshot testing](https://jestjs.io/docs/snapshot-testing). These tests can help automate versioning - according to the documentation, changes that affect hash values are considered `semver-major`. So theoretically, with these tests, some pipeline could automatically bump version when any of snapshot files change.

However, according to the jest's [package.json fil

[2022-02-21 09:51] kachkaev opened #116 "Changelog for v3"
👋 This issue is a new instance of https://github.com/puleos/object-hash/issues/87. v3.0.0 was released recently but [README → Changelog](https://github.com/puleos/object-hash#changelog) only mentions 2.0.0:

<img width="876" alt="Screenshot 2022-02-21 at 09 47 28" src="https://user-images.githubusercontent.com/608862/154930368-fa390af3-e527-44f7-be36-576db86f07da.png">

Although it is possible to

[2022-03-09 20:41] dieseldjango commented on #116
Does v3 break compatibility with hashes?

[2022-03-10 11:00] addaleax commented on #116
Yes, v3.x generates different hashes but is otherwise compatible.

Feel free to open a PR.

[2022-03-12 16:41] JaLe29 commented on #116
@addaleax can you please explain what do you mean by "different hashes"?

[code]

So, sha1 in v2 is not same in v3?

[2022-06-06 12:07] dwelle commented on #116
@JaLe29 check https://github.com/puleos/object-hash/pull/114 — previous version wasn't distinguishing between typed arrays

[2022-06-25 15:01] oscard0m opened #118 "Same hash after re-assigning the value of a function variable"
Hi, `object-hash` team!

I have the following scenario:
* 2 objects with the same shape
* both of them have a property whose value is taken from a variable.
   * that variable is a function
   * I redefine the return value of that function before assigning it to the second object

Because of the changes applied to that `function` I would expect a different hash but I'm obtaining the same hash.

he

[2022-06-25 18:48] agilgur5 commented on #118
Hi 👋 , by way of introduction, I help maintain `rollup-plugin-typescript2` which uses this library (and used to solo maintain TSDX, which is downstream of rpt2, so have been in the issues [before](https://github.com/puleos/object-hash/pull/90#issuecomment-582236983)).

### `fn.toString()` doesn't consider many use-cases

@oscard0m provided a great simple reproduction of this use-case, which remind

[2022-06-26 00:17] agilgur5 commented on #118
Did some more thinking about this problem and ended up making a trip down memory lane to the pre-ES6 days and remembering how prototypal inheritance works in JS 😅
These [two](https://stackoverflow.com/q/35223591/3431180) [StackOverflow](https://stackoverflow.com/q/2051678/3431180) questions and all their answers (and duplicates) were really a throwback. I'll try to summarize them below.

### yea t

[2022-07-04 12:54] addaleax commented on #118
There’s a lot of text here, but yeah, ultimately it boils down to:
- This is a hashing library
- Hashing algorithms require serialization the of its input into byte sequences
- There is no cross-platform, standard way of consistently serializing functions in a way that distinguish different instances
- Consequently, either the hashes for similarly defined functions are the same, or it is not possi

[2022-07-04 12:54] #118 closed

[2022-07-20 04:15] jrwashburn opened #119 "cannot specify supported algorithms beyond sha1/md5 after node upgrade"
Similar to #109 after a node upgrade, compiler will not allow specification of sha256 (for example.)

TSError: ⨯ Unable to compile TypeScript:
src/core/transaction/TS.ts:16:67 - error TS2769: No overload matches this call.
  Overload 1 of 2, '(object: {} | null, options?: NormalOption | undefined): string', gave the following error.
    Type '"sha256"' is not assignable to type '"sha1" | "md5" | "

[2022-07-20 09:31] addaleax commented on #119
It seems like you’re using the typescript definitions from https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/object-hash/index.d.ts which is not part of this project. You may want to raise this issue in that repository, or, more directly, update the type definitions with a pull request directly.

[2022-07-20 09:31] #119 closed

[2022-10-10 14:43] medikoo commented on #116
It's better not to release a breaking change than to release it with zero (changelog) documentation.